<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>DATABASE_URL</key>
	<string>http://localhost:8080</string>
	<key>API_KEY</key>
	<string>2:ios:atd7td7tYGYdfYNDsdht6tsygdh:default</string>
	<key>SHOP_CURRENCY</key>
	<string>GBP</string>
</dict>
</plist>
